body{
margin:0;
font-family:Arial;
background:#0a1a1f;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#0f2e31;
}

.wallet{
background:#00e5ff;
color:black;
padding:5px 10px;
border-radius:10px;
}

.banner{
background:#0c3c3f;
margin:15px;
padding:20px;
border-radius:10px;
}

.card{
background:#102f32;
margin:15px;
padding:15px;
border-radius:10px;
}

button{
background:#00e5ff;
border:none;
padding:10px;
border-radius:6px;
}

nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#0f2e31;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
}
